# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
/dist
/src-cordova
/src-capacitor
/src-electron/dist

# Local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Quasar
.quasar

# Electron
# Keep icons - needed for build
# /src-electron/icons/icon.icns
# /src-electron/icons/icon.ico
